# Environment secrets
.env
.env.*

# Keep examples
!.env.example

# Docker Compose local overrides
*override.yaml
*override.yml

# Docker runtime data
appdata/
downloads/
backups/
logs/

# Media library data
/media/

# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/

# Temporary files
*.tmp
*.log